/* fundo geral */
body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* remove estilo padrão de link */
a {
    text-decoration: none;
    color: inherit;
}

/* títulos */
h1 {
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}


/* estilo Sukuna */
.sukuna {
    color: crimson;
    text-shadow: 0 0 10px red, 0 0 20px darkred;
}

/* estilo Gojo */
.gojo {
    color: rgb(201, 14, 234);
    text-shadow: 0 0 10px rgb(126, 2, 64), 0 0 20px blue;
}

/* estilo Mahoraga */
.mahoraga {
     color: rgb(0, 255, 225);
    text-shadow: 0 0 10px rgb(0, 255, 89), 0 0 20px rgb(255, 145, 0);
}

/* imagens */
img {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px;
    transition: 0.3s;
    cursor: pointer;
}

/* efeito ao passar o mouse */
img:hover {
    transform: scale(1.05);
    border-color: crimson;
}

/* linha separadora */
hr {
    margin: 30px;
    border: 1px solid #444;
}

/* lista sem bolinhas e centralizada */
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* espaço entre os itens */
li {
    margin: 8px 0;
}

.voltar {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    border: 2px solid crimson;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px crimson;
}

.voltar:hover {
    background-color: crimson;
    transform: scale(1.1);
    box-shadow: 0 0 10px crimson;
}

.voltar:active {
    transform: scale(0.97);
    box-shadow: 0 0 3px crimson;
}
@keyframes glow {
    0% { box-shadow: 0 0 5px crimson; }
    50% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 5px crimson; }
}

.voltar {
    animation: glow 2s infinite;
}

/* container dos jogos */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    margin-top: 20px;
}


/* cada card */
.card {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
}

/* efeito ao passar o mouse no card */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px crimson;
}